@page "/BarberoReseñas"
@using Barberia.WEB.Repositories;
@using Barberia.Shared.Entities

@inject IRepository repository

<h3>Reseñas barbero</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/reseñabarberos/create">Reseñas barbero </a>
</div>

<GenericList MyList="BarberoReseñas">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Reseñas</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var barberoreseña in BarberoReseñas!)
                {
                    <tr>
                        <td>
                            @barberoreseña.Reseña
                        </td>
                        <td>
                            <a class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger">Borrar</button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </Body>

</GenericList>

@code {
    public List<BarberoReseña>? BarberoReseñas { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var responseHppt = await repository.Get<List<BarberoReseña>>("/api/barberoreseñas");
        BarberoReseñas = responseHppt.Response!;
    }
}
