@page "/Barberos"
@using Barberia.WEB.Repositories;
@using Barberia.Shared.Entities

@inject IRepository repository

<h3>Barberos</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/barberos/create">Barberos </a>
</div>

<GenericList MyList="Barberos">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Barberos</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var barbero in Barberos!)
                {
                    <tr>
                        <td>
                            @barbero.Especialidad
                        </td>
                        <td>
                            <a class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger">Borrar</button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </Body>

</GenericList>

@code {
    public List<Barbero>? Barberos { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var responseHppt = await repository.Get<List<Barbero>>("/api/barberoreseñas");
        Barberos = responseHppt.Response!;
    }
}