@page "/citas/edit/{Id:int}"
@using Barberia.Shared.Entities;
@using Barberia.WEB.Repositories;
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService swal

<h3>Editar cita</h3>

@if (cita is null)
{
    <div class="align-items-center">
        <img src=" https://cdn.dribbble.com/users/1066128/screenshots/2689047/media/e1de05d8bb8908d129983ff3d886c940.gif " />
    </div>
}
else
{
    <CitaForm @ref="citaForm" Cita="cita" OnSubmit="Edit" ReturnAction="Return" />
}

@code {
    private Cita? cita;
    private CitaForm? citaForm;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHTTP = await repository.Get<Cita>($"api/citas/{Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("citas");
            }
            else
            {
                var messageError = await responseHTTP.GetErrorMessage(); //debe ser Async
                await swal.FireAsync("Error", messageError, SweetAlertIcon.Error);
            }
        }
        else
        {
            cita = responseHTTP.Response;
        }
    }

    private async Task Edit()
    {
        var responseHTTP = await repository.Put("api/citas", cita);

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessage(); //debe ser Async
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            citaForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("citas");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("citas");
    }
}
