@page "/citas/create"
@using Barberia.Shared.Entities;
@using Barberia.WEB.Repositories;
@using Microsoft.AspNetCore.Authorization;
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService
@attribute [Authorize(Roles = "Usuario")]

<h3>Nueva cita</h3>

<CitaForm @ref="citaForm" Cita="cita" OnSubmit="Create" ReturnAction="Return"/>

@code {
    private Cita cita = new();

    private CitaForm? citaForm;

    private async Task Create()
    {
        var responseHttp = await repository.Post("/api/citas", cita);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessage(); //Todo: Debe ser un GetErrorMessageAsync pero no deja
                                                                //entonces mirar a futuro como solucionar
            await sweetAlertService.FireAsync("Error", message);

        }
        else //Para regresar al la lista de citas una vez hayas añadido uno
        {
            citaForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("citas");

        }
        navigationManager.NavigateTo("/citas");
    }

    private void Return()
    {
        navigationManager.NavigateTo("/citas");
    }
}

