@page "/Citas"
@using Barberia.WEB.Repositories;
@using Barberia.Shared.Entities

@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService swal

<h2>Citas agendadas</h2>

<div class="mb-3">
    <a class="btn btn-outline-dark" href="/citas/create">Añadir cita</a>
</div>

<GenericList MyList="Citas">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>

                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Tipo</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var cita in Citas!)
                {
                    <tr>
                        <td>
                            @cita.Fecha
                        </td>
                        <td>
                            @cita.Horario
                        </td>
                        <td>
                            @cita.Tipo
                        </td>
                        <td>
                            <a href="/citas/edit/@cita.Id" class="btn btn-outline-secondary">Editar</a>
                            <button class="btn btn-outline-danger" @onclick=@(() => Delete(cita))>Borrar</button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </Body>

</GenericList>

@code {
    public List<Cita>? Citas { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await Load();
    }

    private async Task Load()
    {
        var responseHppt = await repository.Get<List<Cita>>("api/citas");
        Citas = responseHppt.Response!;
    }

    private async Task Delete(Cita cita)
    {
        var result = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Esta seguro que quieres borrar el registro?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }

        var responseHTTP = await repository.Delete($"api/citas/{cita.Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/");
            }
            else
            {
                var mensajeError = await responseHTTP.GetErrorMessage(); //debe ser Async
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            await Load();
        }
    }
}
