@page "/Citas"
@using Barberia.WEB.Repositories;
@using Barberia.Shared.Entities

@inject IRepository repository

<h3>Citas</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/citas/create">Nueva cita</a>
</div>

<GenericList MyList="Citas">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Citas</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var cita in Citas!)
                {
                    <tr>
                        <td>
                            @cita.Tipo
                        </td>
                        <td>
                            <a class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger">Borrar</button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </Body>

</GenericList>

@code {
    public List<Cita>? Citas { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var responseHppt = await repository.Get<List<Cita>>("/api/citas");
        Citas = responseHppt.Response!;
    }
}
