@page "/"

<style>
    body {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    h1, h3, h5 {
        margin: 10px 0;
    }

    .mb-3 {
        margin-bottom: 20px;
    }

    .btn {
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
        border: 2px solid #343a40;
        color: #343a40;
        border-radius: 5px;
        font-size: 16px;
    }
</style>

<PageTitle>Index</PageTitle>

<h1>¡Bienvenidos a Risos & Risas Barber!</h1>

<h3>Donde tu pelo estará feliz, al igual que tu sonrisa.</h3>

<br>
<h5>Agendar una cita:</h5>
<div class="mb-3">
    <a class="btn btn-outline-dark" href="/citas/create">Añadir cita</a>
</div>
