@using Microsoft.AspNetCore.Components.Authorization

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Rizos & Risas Barber</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <AuthorizeView Roles="Admin,Usuario,Barbero">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="citas">
                        <span class="oi oi-task" aria-hidden="true"></span> Citas
                    </NavLink>
            </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Admin,Usuario,Barbero">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="barberos">
                        <span class="oi oi-person" aria-hidden="true"></span> Barberos
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Admin,Usuario,Barbero">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="servicios">
                        <span class="oi oi-check" aria-hidden="true"></span> Servicios
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Admin,Barbero">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="clientes">
                        <span class="oi oi-star" aria-hidden="true"></span> Clientes
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Admin,Barbero">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="facturaciones">
                        <span class="oi oi-dollar" aria-hidden="true"></span> Facturaciones
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Admin,Usuario,Barbero">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="reseñas">
                        <span class="oi oi-thumb-up" aria-hidden="true"></span> Reseñas
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

      <!--  <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div> -->
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
