@page "/Clientes"
@using Barberia.WEB.Repositories;
@using Barberia.Shared.Entities

@inject IRepository repository

<h3>Clientes</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/clientes/create">Nuevo cliente</a>
</div>

<GenericList MyList="Clientes">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Clientes</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var cliente in Clientes!)
                {
                    <tr>
                        <td>
                            @cliente.Nombre
                            @cliente.Direccion
                            @cliente.Telefono
                        </td>
                        <td>
                            <a class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger">Borrar</button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </Body>

</GenericList>

@code {
    public List<Cliente>? Clientes { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var responseHppt = await repository.Get<List<Cliente>>("/api/clientes");
        Clientes = responseHppt.Response!;
    }
}
