@page "/Reseñas"
@using Barberia.WEB.Repositories;
@using Barberia.Shared.Entities

@inject IRepository repository

<h3>Reseñas</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/reseñas/create">Nueva reseña</a>
</div>

<GenericList MyList="Reseñas">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Reseñas</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var reseña in Reseñas!)
                {
                    <tr>
                        <td>
                            @reseña.Comentario
                        </td>
                        <td>
                            <a class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger">Borrar</button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </Body>

</GenericList>

@code {
    public List<Reseña>? Reseñas { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var responseHppt = await repository.Get<List<Reseña>>("/api/reseñas");
        Reseñas = responseHppt.Response!;
    }
}
