@page "/reseñas/create"
@using Barberia.Shared.Entities;
@using Barberia.WEB.Repositories;
@using Microsoft.AspNetCore.Authorization;

@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService
@attribute [Authorize(Roles = "Usuario")]

<h3>Nueva reseña</h3>

<ReseñasForm @ref="reseñaForm" Reseña="reseña" OnSubmit="Create" ReturnAction="Return" />

@code {
    private Reseña reseña = new();

    private ReseñasForm? reseñaForm;

    private async Task Create()
    {
        var responseHttp = await repository.Post("/api/reseñas", reseña);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessage(); //Todo: Debe ser un GetErrorMessageAsync pero no deja
                                                                //entonces mirar a futuro como solucionar
            await sweetAlertService.FireAsync("Error", message);

        }
        else //Para regresar al la lista de reseñas una vez hayas añadido uno
        {
            reseñaForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("reseñas");

        }
        navigationManager.NavigateTo("/reseñas");
    }

    private void Return()
    {
        navigationManager.NavigateTo("/reseñas");
    }
}
